<h1>Listado de productos</h1>
<%= link_to "Crear", products_new_path  %>
<table>
    <tr>
    
     <thead>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
     </thead>
     
    </tr>
    <tr>
     <% @products.each do |product| %>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td>
            
            <%= link_to "Editar", edit_product_path(product) %>
            <%= link_to "Eliminar",product, method: :delete, data:{confirm:"Deseas eliminar este articulo"} %>
        </td>
    </tr>
    
<% end %>

</table>